* {
  box-sizing: border-box;
}
html,
body {
  background: #444;
  width: 100%;
}
.App {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  background: #eee;
  display: flex;
  flex-direction: column;
  min-height: 300px;
}
